pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_EMR_Configs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generic_adls_flat",
						"type": "DatasetReference",
						"parameters": {
							"container": "config",
							"file_path": "emr",
							"file_name": "load_config.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_EMR_Configs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_EMR_Configs').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "File_Exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_generic_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": "@item().targetpath",
										"file_name": "@split(item().tablename,'.')[1]"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"description": "",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "File_Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('File_Exists').output.exists, true)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Archive File",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_generic_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"file_path": "@item().targetpath",
													"file_name": "@split(item().tablename,'.')[1]"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_generic_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"file_path": "@concat(item().targetpath,'/archive',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'%M'),'/',formatDateTime(utcNow(),'%d'))",
													"file_name": "@split(item().tablename,'.')[1]"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().is_active,'1')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fetch_logs",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('select coalesce(cast(max(loaddate) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where','data_source=''',item().datasource,''' and tablename=''',item().tablename,'''')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "ds_generic_dl",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'aa'",
													"table_name": "'a'"
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Incremental_Load_CP",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Fetch_logs",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": "Select query\n@concat('select *,''',item().datasource,''' as datasource from ', item().tablename,' where ',item().watermark,' >= ''', activity('Fetch_logs').output.firstRow.last_fetched_date,'''')",
												"queryTimeout": "00:10:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_generic_db",
												"type": "DatasetReference",
												"parameters": {
													"db_name": "@item().database",
													"schema_name": "@split(item().tablename,'.')[0]",
													"table_name": "@split(item().tablename,'.')[1]"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_generic_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"file_path": "@item().targetpath",
													"file_name": "@concat(item().tablename, '.parquet')"
												}
											}
										]
									},
									{
										"name": "Insert_Logs_Inc_Load",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Incremental_Load_CP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('insert into rcm_dev.audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''', item().datasource,''',''',item().tablename,''',''',activity('Incremental_Load_CP').output.rowsCopied,''',''',item().watermark,''',''',utcNow(),''')')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "ds_generic_dl",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'audit'",
													"table_name": "'load_logs'"
												}
											},
											"firstRowOnly": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Full_Load_CP",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *,''',item().datasource,'''as datasource from '\n,item().tablename)",
													"type": "Expression"
												},
												"queryTimeout": "00:10:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_generic_db",
												"type": "DatasetReference",
												"parameters": {
													"db_name": "@item().database",
													"schema_name": "@split(item().tablename,'.')[0]",
													"table_name": "@split(item().tablename,'.')[1]"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_generic_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"file_path": "@item().targetpath",
													"file_name": "@concat(item().tablename, '.parquet')"
												}
											}
										]
									},
									{
										"name": "Insert_Logs_Full_Load",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Full_Load_CP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values(''',item().datasource,''',''',item().tablename,''',''',activity('Full_Load_CP').output.rowsCopied,''',''',item().watermark,''',''',utcNow(),''')')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "ds_generic_dl",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'aa'",
													"table_name": "'aa'"
												}
											},
											"firstRowOnly": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}